/* color1= #3765B9:
color2= #E6F4F1;
color3= #F7F9FF; */

@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap');

body {
 	padding-top: 96px; 
 	font-family: 'Rubik', sans-serif;
 	font-weight: 10;
}


@media screen and (max-width: 768px) {
    body { 

     }

}


.navbar-custom {
    background-color: #FFF;
    -webkit-box-shadow: 0 8px 6px -6px #888888;
    -moz-box-shadow: 0 8px 6px -6px #888888;
    box-shadow: 1px 8px 8px -6px #888888;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #3765B9;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #3765B9;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #5883D3;
}

.nav-link {
  text-transform: uppercase;  
  padding: 0px 0px;
  margin: 0px 4px;
  display: inline-block;
  position: relative;   
 }

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #577EC5;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: -5px;
}

.nav-link-ltr:hover::before {
  width: 88%;
}

.custom-row {
	padding-top:50px;
	padding-bottom: 50px;
}

.heading {
	padding-top: 50px;
}

.stl  {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-group {
	width: 500px;

}

@media screen and (max-width: 768px) {
    .form-group { 
    	width: 400px;
     }

}

.card-styles {
	border-color: #3765B9;
	border-width: 3px;
	color: #3765B9;
	box-shadow: 1px 3px 9px 1px #888888;
	transition: 0.3s;

}

.card-styles:hover {
	box-shadow: 5px 15px 18px 2px #888888;
}

.footer a {
	color: white;
}

.footer {
	background-color: #5A82CC;
	color: white;
}

.footer a:hover {
	text-decoration: underline;
}

.ico {
	
}

.footer-copyright {
	background-color: #3765B9;
	color: white;
}

a:link{
	text-decoration: none ;
}


.cstm {
	padding-bottom: 50px;
}


.card-image {
	height: 250px;
	width: 250px;
	width: 100%;
}


.navbar-logo {
	height: 70px; 
	width: 150px;
	transition: 1s;

}

.navbar-logo:hover {
	height: 75px;
	width: 160px;
}

.lnks {
  font-weight: bold;
  text-transform: uppercase;  
  padding: 0px 0px;
  margin: 0px 4px;
  display: inline-block;
  position: relative;
  color: black;
 }

.lnks:hover {
  opacity: 1;
}

.lnks::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #577EC5;
}

.lnks-ltr::before {
  width: 0%;
  bottom: -5px;
}

.lnks-ltr:hover::before {
  width: 88%;
}

.slides {

}

@media screen and (min-width: 768px) {
    .slides { 
    	height: 800px;
     }

}

/*TESTING*/

.form-control {
	border: 2px solid #3765B9;
	border-radius: 0;
	padding: 0 25px;
	line-height: 45px;
	height: 45px;
}

.btn-primary {
	background-color: #3765B9;
}

.btn-primary:hover {
	background-color: #0A40A2;
}

h2.section-title {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 5px;
	margin-bottom: 80px;
	color: #3765B9;
}

p.section-description {
	font-weight: lighter;
	font-size: 16px;
}

h2.section-title + p {
	margin-top: -70px;
	margin-bottom: 0;
}

.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1560427450-00fa9481f01e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=639&q=80");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

 .contact-title {  
    font-weight: 900;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 5px;
    color: #183E8B;
    text-shadow: 1px 1px 3px #4974BA;
 }

@media screen and (max-width: 768px) {
    .contact-title { 
      letter-spacing: 0;
     }

}

 .about-sec {
  height: 300px;
  width: 100%;
 }